<table class="table table-bordered" width="100%">
    <thead>
        <th>#</th>
        <th colspan="4">Kode/Urusan/Program/Kegiatan/Sub Kegiatan</th>
        <th>Indikator Kinerja</th>
        <th>Satuan</th>
    </thead>
    <tbody>
        <tr>
            <td>#</td>
            <td colspan="4"><b>1.1 Urusan Pemerintah Bidang Pendidikan</b></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td colspan="4">DINAS PENDIDIKAN DAN KEBUDAYAAN</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td style="width: 5%;">1.1.2</td>
            <td colspan="3"><b>Program Penunjang Urusan Pemerintah Kabupaten / Kota</b></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td style="width: 6%;">1.1.2.201</td>
            <td colspan="2"><b>Perencanaan dan Evaluasi</b></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="width: 7%;">1.1.2.201.1</td>
            <td>Penyediaan Gaji Dan Tunjangan ASN</td>
            <td>Tersedianya gaji dan tunjangan ASN</td>
            <td>Bulan</td>
        </tr>
    </tbody>
</table>